page-home {
#btn{
    border-radius: 20px;
}
.img{
    border-radius: 50%;
    text-align: center;
    margin-left: 35%;
    width: 80px;
    
}
.col{
    border-radius: 20px;
}
.ion-item{
    margin-top: 120px;
}
}
